/* Montserrat */

@font-face {
    font-family: "Montserrat";
    src: url("fonts/montserrat.woff2") format("woff2-variations");
    font-weight: 125 950;
    font-stretch: 75% 125%;
    font-style: normal;
    font-display: swap;
}


/* Aeonik */
@font-face {
    font-family: 'Aeonik';
    src: url(fonts/aeonik-light.woff2) format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aeonik';
    src: url(fonts/aeonik-regular.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aeonik';
    src: url(fonts/aeonik-medium.woff2) format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aeonik';
    src: url(fonts/aeonik-bold.woff2) format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}