.form {
    fieldset {
        padding: 0;
        border: 0;
        display: grid;

        &:disabled {
            display: none;
        }
    }

    .field {
        display: grid;
        grid-column: span 12;
  
        &[aria-invalid="true"] label:after {
            color: var(--color-error);
        }
    }

    label { 
        &.placeholder {
            color: red !important;
            display: flex;
            align-items: center;
            transition: all .24s ease;
            box-sizing: border-box;
            grid-area: 1/1;
            height: 6rem;
            pointer-events: none;
            z-index: 1;
            padding: 0 .4rem;
        }
    }

    [required]~label:after {
        content: '*';
    }

    [type="text"],
    [type="email"],
    [type="password"],
    [type="tel"],
    [type="date"],
    [type="number"],
    [type="url"],
    textarea {
        font-family: inherit;
        font-size: inherit;
        color: inherit;
        margin: 0;
        width: 100%;
        grid-area: 1/1;
        height: 6rem;
        padding: 0 .4rem;
        transition: all .3s ease;
        border: none;
        border: 1px solid var(--color-gray);
        background: none;

    

        /* &:focus {
            border: 1px solid rgba(0, 0, 0, 0);
            border-bottom: 1px solid var(--color-1);
        }*/

        /*&:not(:required)~label {
            opacity:.5;
            font-size: 1.2rem;
            padding-bottom: 2rem;
        }*/

        &:focus~label,
        &:required:valid~label,
        &:not(:empty)~label {
            font-size: 1.4rem;
            padding-bottom: 2.8rem;
            opacity: .8
        }

        &.notempty {
            &~label {
                font-size: 1.4rem;
                padding-bottom: 2.8rem;
                opacity: .8
            }
        }

        /* &:not(:focus):not(:invalid) {
            border-bottom: 1px solid green;
        }*/

        /*  &:hover {
            border: 1px solid var(--color-3) !important;
        }*/
    }

    .msg {
        display: none;
        align-items: center;
        border: 1px solid var(--color);
        height: 5rem;
        padding: 1rem 2rem;
        box-sizing: border-box;
        border-radius: 1rem 0 0;
        margin-bottom: 3rem;
        color: var(--color-text);
        scroll-margin: 10rem;

        &.show {
            display: flex;
        }

        .picto {
            background-color: var(--color);
            border-radius: 50%;
            margin-right: 1rem;
        }

        &-error {
            --color: var(--color-error);
        }

        &-valid {
            --color: var(--color-valid);
        }
    }

    textarea {
        min-height: 160px;
        resize: vertical;
        padding-top: 1.8rem;
    }

    .checkbox,
    .radio {
        display: flex;
        align-items: center;

        label {
            cursor: pointer;
            align-items: center;
            margin: 0;
            font-weight: 400;
            line-height: 2rem;
            color: var(--color-text);
            text-transform: initial;
        }
    }

    input[type="checkbox"],
    input[type="radio"] {
        appearance: none;
        background: none;
        margin: 0;
        font: inherit;
        color: currentColor;
        width: 1.3rem;
        height: 1.3rem;
        border: 1px solid var(--color-gray);
        display: grid;
        place-content: center;
        margin-right: 1.3rem;
        transition: all .3s ease;
        flex: 0 0 1.3rem;
        box-sizing: border-box;

        &::before {
            content: "";
            width: 1rem;
            height: 1rem;
            transform: scale(0);
            transition: transform .3s ease;
            box-sizing: border-box;
            background-color: var(--color-1);
        }

        &:checked {
            border: 1px solid var(--color);

            &::before {
                transform: scale(1);
            }
        }

    }

    input[type="radio"] {
        border-radius: 50%;

        &::before {
            border-radius: 50%;
        }
    }

    .select {
        label {
            grid-column: 1;
            grid-row: 1;
            width: calc(100% + 2rem);
            font-size: 1.4rem;
            margin-bottom: -3rem;
            padding-top: .8rem;
            opacity: .8
        }

        select {
            grid-row: 2;
            grid-column: 1;
        }

        .error-msg {
            grid-column: 2/-1;
        }

        .icon {
            fill: var(--color-gray);
            grid-row: 2;
            align-self: center;
            grid-column: 1;
            justify-self: end;
            rotate: 90deg;
        }
    }

    select {
        appearance: none;
        font-size: inherit;
        height: 6rem;
        outline: none;
        width: 100%;
        background: none;
        border: none;
        margin: 0;
        padding: 0;
        color: var(--color-text);
        border: 1px solid var(--color-gray);
       padding: 0 .4rem;

        option {
            color: var(--color-text);
            font-weight: 400;
        }

        &:-moz-focusring,
        &::-moz-focus-inner {
            outline: none;
            color: transparent !important;
            text-shadow: 0 0 0 #000 !important;
        }

        &::-ms-expand {
            display: none;
        }
    }

    .action {
        grid-column: span 12;
        display: flex;
        justify-content: space-between;
        margin-top: 2rem;

    }

    [type="submit"] {
        border: none;
        cursor: pointer;

        &:disabled {
            pointer-events: none;
            opacity: .8;
        }
    }

    &:disabled {
        opacity: 0.5;
        pointer-events: none;
    }

    .error-msg {
        color: var(--color-error);
        margin-top: .5rem;
        position: absolute;
        top: 100%;
        left: 0;
        font-size: 1.4rem;
        visibility: hidden;
    }

    input,
    select,
    button,
    textarea {
        box-sizing: border-box;

        &:focus {
            outline: none;
        }

        &[aria-invalid="true"]:not(:focus) {
            border-bottom: 1px solid var(--color-error) !important;
        }

        &[aria-invalid="true"]:not(:focus)~.error-msg {
            visibility: visible;
        }

        &[type="checkbox"][aria-invalid="true"]:not(:focus) {
            border: 1px solid var(--color-error) !important;
        }
    }


    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover,
    textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
        -webkit-text-fill-color: inherit;
        -webkit-box-shadow: 0 0 0px 1000px rgba(255, 255, 255, 0) inset;
        box-shadow: 0 0 0px 1000px rgba(255, 255, 255, 0) inset;
        background-color: rgba(255, 255, 255, 0);
        transition: background-color 5000s ease-in-out 0s;
    }

    input::placeholder {
        font-style: normal;
        font-family: inherit;
        opacity: 1;
        font-weight: 300;
        color: var(--color-gray-light);
        font-size: inherit;
    }

    @media (--breakpoint-lg-down) {
        fieldset {
            grid-row-gap: 2rem;
        }

        textarea {
            min-height: 130px;
            padding-top: 2.8rem;
        }
    }

    @media (--breakpoint-lg-up) {
        fieldset {
            grid-template-columns: repeat(12, 1fr);
            grid-column-gap: 2rem;
            grid-row-gap: 3rem;
        }

    }
}