html {
    font-size: 62.5%;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    font-family: var(--font-1);
    font-size: 1.6rem;
    color: var(--color-text);
    line-height: 1;
    overflow-anchor: none;

    &.hasPopin {
        height: 100vh;
        overflow: hidden !important;
        position: relative;
        touch-action: none;
        -webkit-overflow-scrolling: touch;
    }
}

main {
    margin-top: var(--header-height);
}

/* layout */
.hero,
.strate,
#header,
#footer,
#breadcrumb,
.layout-sidebar {
    display: grid;
    grid-template-columns: var(--layout);
    align-items: start;

    >* {
        grid-column: ctr;
    }

}

.layout-flex {
   // --layout: var(--layout-flex);
}

.layout-sidebar {
    --layout: var(--layout-sidebar);

    .sidebar {
        grid-column: sidebar;
        background-color: rgba(255, 255, 255, .5);
    }

    .content {
        grid-column: full;
    }

    @media(--breakpoint-lg-up) {
        .sidebar {
            grid-row: 1;
            z-index: 2;
            height: 100%;
        }

        .content {
            grid-row: 1;
        }
    }
}

/* strate */
.strate {
    --ctr: ctr;
    --margin: var(--margin-md);
    --padding: var(--margin-md);
    margin-bottom: var(--margin);
    margin-top: var(--mt, 0);

    --test: ctr-sm;

    &[class*="bg"] {
        padding-top: var(--padding);
        padding-bottom: var(--padding);
    }
}

/* margin */
.mb-none {
    --margin: 0;
}

.mb-sm {
    --margin: var(--margin-sm);
}

.mb-md {
    --margin: var(--margin-md);
}

.mb-lg {
    --margin: var(--margin-lg);
}

.mt-sm {
    --mt: var(--margin-sm);
}

.mt-md {
    --mt: var(--margin-md);
}

.mt-lg {
    --mt: var(--margin-lg);
}

/* padding */
.pd-sm {
    --padding: var(--margin-sm);
}

.pd-md {
    --padding: var(--margin-md);
}

.pd-lg {
    --padding: var(--margin-lg);
}

/* container */
.ctr-xsm {
    --ctr: ctr-xsm;
}

.ctr-sm {
    --ctr: ctr-sm;
}



/* bg */
.bg-color-1 {
    background-color: var(--color-1);
    color: var(--color-text);
    --bg-color: var(--color-4);
    --color: var(--color-text);
}

.bg-color-2 {
    background-color: var(--color-2);
    color: var(--color-text);
    --bg-color: var(--color-3);
    --color: #fff;
}

.bg-color-3 {
    background-color: var(--color-3);
    color: #fff;
    --bg-color: var(--color-2);
    --color: var(--color-text);
}