html {
    font-size: 62.5%;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    font-family: var(--font-1);
    font-size: 1.6rem;
    color: var(--color-text);
    line-height: 1;
    overflow-anchor: none;
    color-scheme: only light;

    &.hasPopin {
        height: 100vh;
        overflow: hidden !important;
        position: relative;
        touch-action: none;
        -webkit-overflow-scrolling: touch;
    }
}

main {
    margin-top: var(--header-height);
}

/* layout */
.hero,
.strate,
#header,
#footer,
#breadcrumb,
.layout-sidebar {
    display: grid;
    grid-template-columns: var(--layout);
    align-items: start;
    grid-auto-flow: column;

    >* {
        grid-column: ctr;
    }
}



.layout-sidebar {
    --layout: var(--layout-sidebar);

    .sidebar {
        padding-top: 4rem;
        grid-column: sidebar;
        box-sizing: border-box;

        ul {
            display: grid;
            gap: 1rem;
        }
    }

    .content {
        grid-column: full;
    }

    @media(--breakpoint-lg-up) {
        .sidebar {
            grid-row: 1;
            z-index: 2;
            height: 100%;
        }

        .content {
            grid-row: 1;
        }
    }
}

/* strate */
.strate {
    --ctr: ctr;
    --mb: var(--margin-md);
    --pd: var(--margin-md);
    margin-bottom: var(--mb);
    margin-top: var(--mt, 0);

    >* {
        grid-column: var(--ctr);
    }

    &[class*="bg"] {
        padding-top: var(--pd);
        padding-bottom: var(--pd);
    }
}

.hero {
    --ctr: ctr;


    >* {
        grid-column: var(--ctr);
    }

}

hr{
    border: none;
    border-top: 1px solid var(--theme-1);
    width: 100%;
}
