/* rich text */
.rte {


    h2 {
        margin-bottom: 1.5rem;
        @extend .title-2;
    }

    h3 {
        margin-bottom: 1rem;
        @extend .title-3;
    }

    h4 {
        margin-bottom: 1rem;
        @extend .title-4;
    }

    p {
        margin-bottom: 2rem;
        line-height: 1.9;
    }

    ul,
    ol {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-bottom: 2rem;

        li {
            &::marker {
               // color: var(--color-2);
                font-weight: 600
            }
        }
    }

    ul {
        list-style: inside disc;
    }


    ol {
        list-style: inside decimal;
    }

    small {
        font-weight: 400;
    }

    a {
        text-decoration: underline;
        color: var(--color-text);

    }



    *:nth-last-child(1) {
        margin-bottom: 0;
    }

    img {
        max-width: 100%;
        height: auto;
    }
}