:root {
    --font-1: 'Montserrat', sans-serif;
    --font-2: 'aeonik', sans-serif;

    --ctr-width: 1400px;

    --color-text: rgba(0, 0, 0, .8);

    --color-gray-light: #ECECEC;
    --color-gray: #ccc;
    --color-gray-dark: #ECECEC;

    --color-1: #ffd8d8;
    --color-1-bis: #faa;
    --color-2: #cff7ef;
    --color-2-bis: #64bdab;
    --color-3: #afebfd;
    --color-3-bis: #43accc;
    --color-4: #f7e08a;
    --color-4-bis: #c4a638;
    --color-5: #e3212a;
    --color-5-bis: #e3212a;

    --theme-1: var(--color-text);
    --theme-2: var(--color-1);
    --theme-1-color: #fff;
    --theme-2-color: var(--color-text);

    --color-error: red;
    --color-valid: green;
    --color-focus: blue;

    --col: minmax(1vw, calc((1400px - (11 * var(--gap))) / 12));

    --layout:
        [full] var(--ctr-offset) [fluid] 1fr [ctr] var(--col) var(--gap) [ctr-sm] var(--col) var(--gap) var(--col) var(--gap) var(--col) var(--gap) var(--col) [col-left] var(--gap) [col-right] var(--col) [center-left] calc(var(--gap) / 2) [center] calc(var(--gap) / 2) [center-right] var(--col) var(--gap) var(--col) var(--gap) var(--col) var(--gap) var(--col) var(--gap) var(--col) [ctr-sm-end] var(--gap) var(--col) [ctr-end] 1fr [fluid-end] var(--ctr-offset) [full-end];

    --layout-sidebar:
        [full] var(--ctr-offset) [fluid] 1fr [ctr] var(--col) var(--gap) [ctr-sm] var(--col) var(--gap) var(--col) [sidebar-left-end] var(--gap) var(--col) var(--gap) var(--col) [middle] var(--gap) var(--col) var(--gap) var(--col) var(--gap) var(--col) [ctr-sm-end] var(--gap) var(--col) [ctr-end] var(--gap) [sidebar] var(--col) var(--gap) var(--col) var(--gap) var(--col) [sidebar-end] 1fr [fluid-end] var(--ctr-offset) [full-end];

    --easeOutQuart: cubic-bezier(0.165, 0.84, 0.44, 1);
    --easeInOutQuart: cubic-bezier(0.76, 0, 0.24, 1);
    --easeInQuart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
    --easeOutQuad: cubic-bezier(0.5, 1, 0.89, 1);
    --easeInOutQuad: cubic-bezier(0.45, 0, 0.55, 1);
    --easeOutCubic: cubic-bezier(0.33, 1, 0.68, 1);
    --easeInOutCubic: cubic-bezier(0.65, 0, 0.35, 1);
}


@media(--breakpoint-lg-down) {
    :root {
        --ctr-offset: 20px;
        --header-height: 70px;
        --gap: 20px;

        --margin-xsm: 20px;
        --margin-sm: 20px;
        --margin-md: 40px;
        --margin-lg: 60px;
        --margin-xlg: 80px;

        --layout-sidebar: [full] var(--ctr-offset) [fluid sidebar ctr] 1fr [sidebar-end ctr-end fluid-end] var(--ctr-offset) [full-end];
    }
}

@media (--breakpoint-lg-up) {
    :root {
        --ctr-offset: 60px;
        --header-height: 90px;
        --gap: 40px;

        --margin-xsm: 20px;
        --margin-sm: 40px;
        --margin-md: 60px;
        --margin-lg: 80px;
        --margin-xlg: 100px;
    }
}