.accordion {
    .details {
        .summary {
            background-color: var(--theme-1);
            color:  var(--theme-1-color);
            width: 100%;
            text-align: left;
            padding: 2rem;
            border-bottom: 1px solid #fff;
            display: flex;
            justify-content: space-between;
            align-items: center;  
            font-weight: 600;
        }

        .details-content {
            display: grid;
            grid-template-rows: 0fr;
            transition: grid-template-rows .3s;
            overflow: clip;
	background: color-mix(in srgb, var(--theme-1) 5%, transparent);
            .text {
                overflow: hidden;
                padding: 10px;
                box-sizing: border-box; 
                font-size: 1.8rem;
            }

            &[aria-hidden="false"] {
                grid-template-rows: 1fr;
            }
        }
    }
}