.btn {
    font-size: var(--font-size);
    background-color: var(--bg, var(--theme-1));
    color: var(--color, var(--theme-1-color));
    padding: 4px;
    box-sizing: border-box;
    padding: 1rem 2rem;
    transition: opacity .3s ease;
    display: inline-block;

    &.btn-1 {}

    &.btn-2 {}

    &.outline {
        background: none;
        color: #000;
        border: 1px solid #000;
    }

    &.light {
        background: #fff;
        color: #000;
    }

    &:hover {
        opacity: .8;
    }


}
