.strate-wysiwyg {


    &.column {
        .header {
            grid-column: var(--ctr) / col-left;
            position: sticky;
            top: var(--header-height);
        }

        .rte {
            grid-column: col-right / var(--ctr);
        }
    }
}