.strate-news {
    .block-header{
        display: grid;
       /* grid-template-columns: repeat(12,1fr);
        gap: var(--gap);
        .title{
            grid-column: 1/-1;
        }*/
    }

    ul {
        display: grid;
        gap: var(--gap);
        grid-template-columns: repeat(3, 1fr);
       
    }

    .cta {
        margin-top: 2rem;
    }
}