.strate-text_image {
    align-items: center;

    .strate-content {
        grid-column: var(--ctr) / center-left;
    }

    picture {
        grid-column: center-right / var(--ctr);
    }

    .rte {
        margin-top: 2rem;
    }

    img {
        width: 100%;
        height: auto;
    }

    .cta {
        margin-top: 2rem;
    }

    &.full {
        picture {
            grid-column: center / full;
        }
    }

    &.reverse {
        .strate-content {
            grid-column: center-right / var(--ctr);
        }

        picture {
            grid-column: var(--ctr) /center;
        }

        &.full {
            picture {
                grid-column: full / center;
            }
        }
    }
}