.strate-results {
    --ctr: ctr-sm;
    margin-top: var(--margin-md);
    margin-bottom: var(--margin-md);

    header {
        padding-top: var(--margin-md);
        padding-bottom: var(--margin-xsm);
        display: flex;
        flex-direction: column;
        align-items: start;

        h1 {
            margin-bottom: 2rem;
        }

        .block-search {
            margin-bottom: 2rem;
        }
    }

    .filters{
        margin-bottom: 2rem;
         padding-bottom: var(--margin-md);
        display: flex;
        flex-direction: column;
        align-items: start;
        border: 1px solid #ccc;
        padding: 1rem;
    }

    .list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: var(--gap)
    }

    .btn-more {
        justify-self: center;
        transition: opacity .3s ease;

        &.hide {
            opacity: 0;
            pointer-events: none;
        }
    }
}