.strate-slider {
    .slider {
        --offset: 80px;

        .slider-btn {
            grid-column: var(--ctr);
        }

        @media (--breakpoint-sm-down) {
            .slider-btn {
                display: none;
            }
        }

        @media (--breakpoint-md-up) {
            --nb: 2;
            --offset: 30px;
        }

        @media (--breakpoint-lg-up) {
            --nb: 3;
            --offset: 0px;
        }
    }
}