.strate-results {
    --ctr: ctr-sm;
    margin-top: var(--margin-md);
    margin-bottom: var(--margin-md);

    .list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: var(--gap)
    }
}