.strate-text_image {
    .strate-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        gap: var(--gap);
    }

    .rte {
        margin-top: 2rem;
    }

    img {
        width: 100%;
        height: auto;
    }

    .cta {
        margin-top: 2rem;
    }
}