#footer {
    background: antiquewhite;

    .footer-content {
        grid-column: fluid;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 60px;
    }

    @media(--breakpoint-lg-down) {
        .footer-content  {
            flex-direction: column;
        }
    }

}

#nav-footer {
    ul {
        display: flex;
        gap: 12px;
    }
}