.hero-page {
    align-items: center;
   padding-top: 6rem;
   padding-bottom: 6rem;
   


 
    .hero-content{
       // grid-column: fluid;
        grid-row: 1;
        z-index: 2; 
        display: grid;
        gap: 20px;
        justify-items: start;
    }

}